.main{
    display:flex;
    width:100%;
}

.left_container{
    background-color:#eaa47e;
    width:30%;
}

.center_container{
    background-color:#ede98e;
    width:40%;
}

.right_container{
    background-color:#a7d87b;
    width:30%;
}

.btnBox{
    width: 200px;
}
 
.btnBox > a{
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}