* {
  box-sizing:border-box;
}

body{
    width:100%;
    height:100%;
}

/* ヘッダー */
.navbar{
    width:100%;
    height:50px;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:0px; /* 上下の固定位置を上から0pxにする */
    left:0px; /* 左右の固定位置を左から0pxにする */
    display:flex; /* 中の要素を横並びにする */
    align-items:center; /* 中の要素を上下中央に並べる */
    border: 1px solid gray;
}

.container{
    width:100%;
    height:50px;
    margin:0;
}
/*ヘッダーの下側*/
.body_container{
    display:flex;
    width:100%;
    height:100%;
    justify-content:left;
}
/* 大枠3つ*/
.menues_container{
    height:100%;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:50px; /* 上下の固定位置を上から0pxにする */
    left:0px; /* 左右の固定位置を左から0pxにする */
    border: 1px solid gray;
}

.main_container{
    height:100%;
    margin-top:27px;/* headerに被らないようにする */
}

.right_container{
    height:100%;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:50px; /* 上下の固定位置を上から0pxにする */
    right:0px; /* 左右の固定位置を左から0pxにする */
    border: 1px solid gray;
}

/* 共通ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.color_black{
    color:black;
}

.color_gray{
    color:gray;
}

.color_purple{
    color:#65318e;
}

.color_white{
    color:white;
}

.BG_color_white{
    background-color:white;
}

a {
  color: #65318e;
}

a:hover {
  color: #65318e;
  text-decoration: underline;
}

/* メニューーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.menue{
    margin:20px 0px;
    text-align:center;
    font-size:25px;
}
/* スマホ用 */
.display_menue{
        display:none;
}

/* 投稿ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.post_container{
    padding:10px;
    border: 1px solid gray;
}

.user{
    margin:auto 0px;
    height:50px;
    text-align:center;
    display:flex;
}

.user_icon{
    font-size:46px;
    padding:2px;
    display:inline-block;
}

.user_name{
    font-size:20px;
    margin:auto 0px;
    display:inline-block;
}

video{
    width:100%;
    height:auto;
}

.post_titles{
    font-weight:bold;
    font-size:15px;
    margin:0 auto;
    display:inline-block;
}

.post_title{
    float:left;
    margin:0 auto;
}

.tool_name:hover{
    text-decoration: underline;
}

.post_text p{
    font-size:15px;
    margin:0;
}

.post_reaction{
    height:30px;
    margin:auto;
    display:flex;
    text-align:center;
}

.reaction_icon{
    border-radius:50%;
    margin:auto;
    display:inline-block;
}

.like_btn:hover{  /*いいねをホバーしたときに変色*/
    background-color:pink;
}

.like_btn:hover i{
    color:red;
}

.like_btn:hover span{
    color:red;
}

.comment_btn:hover{ /*コメントをホバーしたときに変色*/
    background-color:lavender;
}

.comment_btn:hover i{
    color:purple;
}

.bookmark_btn:hover{ /*ブックマークをホバーしたときに変色*/
    background-color:lightblue;
}

.bookmark_btn:hover i{
    color:blue;
}

.delete_btn:hover{ /*削除をホバーしたときに変色*/
    background-color:gray;
}

.delete_btn:hover i{
    color:black;
}