.body_container{
    display:flex;
    width:100%;
}

.menues_container{
    background-color:#eaa47e;
    width:40%;
}

.posts_container{
    background-color:#ede98e;
    width:60%;
}

.post_container{
    padding:0 16px;
}

.user{
    display:flex;
}

.user_icon{
    width:50px;
    height:50px;
    display: inline-block;
}

.user_name{
    font-size:20px;
    margin:auto 0;
    display: inline-block;
}

video{
    width:100%;
    height: auto;
}

.post_title{
    display:flex;
    padding:auto;
}

.tool_number{
    margin:auto 0;
}

.tool_name{
    margin:auto 0;
}

.technique_name{
    margin:auto 0;
}

.post_text{
    margin:0;
}

.post_reaction{
    display:flex;
    float:right;
}

.like_container{
    display:flex;
}

.like_counts{
    margin:auto 0;
}

.comment{
    margin:auto 0;
}

.bookmark{
    margin:auto 0;
}

.bookmark_counts{
    margin:auto 0;
}

.delete{
    margin:auto 0;
}
