* {
  box-sizing:border-box;
  color:#302833; /*黒*/
}

body{
    width:100%;
    height:100%;
    background-color:#e7e7eb; /*白*/
}

video{
    background-color:#302833; /*黒*/
}

/* ヘッダー */
.navbar{
    width:100%;
    height:50px;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:0px; /* 上下の固定位置を上から0pxにする */
    left:0px; /* 左右の固定位置を左から0pxにする */
    display:box; /* 中の要素を横並びにする */
    align-items:center; /* 中の要素を上下中央に並べる */
    border: 1px solid gray;
    z-index: 5;
}

.dropdown-menu-right{
    z-index: 10;
}

.container{
    width:100%;
    height:100%;
    margin:0;
}

#navbarDropdown{
    color:#e7e7eb; /*白*/
}

/*ヘッダーの下側*/
/* 大枠3つ*/
.menues_container{
    height:100%;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    border: 1px solid gray;
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:50px; /* 上下の固定位置を上から0pxにする */
    left:0px;
}

.main_container{
    margin-top:27px;/* headerに被らないようにする */
}

.right_container{
    height:100%;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:50px; /* 上下の固定位置を上から0pxにする */
    right:0px; /* 左右の固定位置を左から0pxにする */
    border: 1px solid gray;
    z-index:-1;
}

/* 共通ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.color_black{
    color:#302833; /*黒*/
}

.color_gray{
    color:gray;
}

.color_purple{
    color:#65318e; /*紫*/
}

.color_white{
    color:#e7e7eb; /*白*/
}

.color_red{
    color:red;
    font-size:12px;
}

.BG_color_white{
    background-color:#e7e7eb; /*白*/
}

.BG_color__white{
    background-color:white; /*まじ白*/
}

.BG_color_purple{
    background-color:#65318e; /*紫*/
}

.BG_color_lavender{
    background-color:#dbd0e6; /*薄紫*/
}

.BG_color_black{
    background-color:#302833; /*黒*/
}

.border_color_purple{
    border: 1px solid #65318e; /*紫*/
}

.border_color_red{
    border: 1px solid red; /*赤*/
}

a {
  color: #65318e;
}

a:hover {
  color: #65318e;
  text-decoration: none;
}

h4{
    color:#e7e7eb; /*白*/
    background-color:#65318e; /*紫*/
    margin:0;
    display:inline-block;
    font-size:20px;
}

/* メニューーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.menue{
    margin:20px 0px;
    text-align:center;
    font-size:25px;
}
/* スマホ用 */
.display_menue{
    display:none;
}
.display_title{
    display:inline;
}


/* 投稿ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.post_container{
    padding:10px;
    border: 1px solid gray;
}

.user{
    margin:auto 0px;
    height:50px;
    text-align:center;
    display:flex;
}

.user_icon{
    font-size:46px;
    display:inline-block;
    width:46px;
    height:46px;
    border-radius:50%;
}

.user:hover{
    background-color:#dbd0e6; /*薄紫*/
    border-radius:10px;
}

.user_name{
    font-size:20px;
    margin:auto 0px;
    display:inline-block;
}

.video{
    width:100%;
    height:auto;
}

.video video{
    width:100%;
    height:auto;
    max-height:500px;
    border-radius:10px;
}

.post_titles{
    font-weight:bold;
    font-size:15px;
    margin:0 auto;
    display:inline-block;
}

.post_title{
    float:left;
    margin:0 auto;
}

.tool_name:hover{
    text-decoration: underline;
}

.post_text p{
    font-size:15px;
    margin:0;
    padding-left:0.5em;
    display:inline-block;
    width:100%;
}

.post_reaction{
    height:30px;
    margin:auto;
    display:flex;
    text-align:center;
}

.reaction_icon{
    border-radius:50%;
    margin:auto;
    display:inline-block;
}

.comment_modal_btn{
    display:none;
}

.comment_nomal_btn{
    display:inline;
}

.like_btn:hover{  /*いいねをホバーしたときに変色*/
    background-color:#e6cde3;
    z-index: 5;
}

.like_btn:hover i{
    color:#e95295;
}

.like_btn:hover span{
    color:#e95295;
}

.comment_btn:hover{ /*コメントをホバーしたときに変色*/
    background-color:#d8e698;
    z-index: 5;
}

.comment_btn:hover i{
    color:#82ae46;
}

.bookmark_btn:hover{ /*ブックマークをホバーしたときに変色*/
    background-color:#bbc8e6;
    z-index: 5;
}

.bookmark_btn:hover i{
    color:#007bbb;
}

.delete_btn:hover{ /*削除をホバーしたときに変色*/
    background-color:#95949a;
}

.delete_btn:hover i{
    color:black;
}

/* ログインーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.form-control:focus {
    background-color: #dbd0e6;
    border-color:#dbd0e6;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #dbd0e6;
}

.custom-select:focus {
  border-color: #dbd0e6;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #dbd0e6;
}

.btn-link:hover{
    color:#65318e; /*紫*/
}

.btn-primary{
    border-color: #dbd0e6;
}

.btn-primary:hover{
    background-color: #dbd0e6;
    border-color: #65318e;
}


.header_title{
    position:absolute;
    top:15px;
    left:10px;
}
/* 投稿作成画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.form-check{
    display:inline-block;
}
.post_titles{
    float:left;
}
/* プロフィールーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.profile_container{
    position:relative;
    height:auto;
}

.edit_profile{
    position:absolute;
    top:15px;
    right:15px;
}

.profile_icon_content{
    width:100px;
    height:100px;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    margin:10px;
}

.profile_user_icon{
    font-size:100px;
    display:inline-block;
    width:100px;
    height:100px;
    border-radius:50%;
}

.profile_contents{
    height:auto;
    margin:auto 0px;
    display:inline-block;
    
}

.profile_contents p{
    margin:0;
}

.profile_user_name{
    font-size:30px;
    margin-top:36px;
    margin-left:120px;
}

.profile_tool{
    font-size:15px;
    margin-left:120px;
}

.profile_date{
    font-size:15px;
    margin-left:120px;
}

.profile_text{
    display:inline-block;
    width:100%;
    font-size:15px;
    margin-left:120px;
}

.follows_container{
    display:inline-block;
    width:100%;
}

.folowing_followed{
    margin-left:50px;
    float:left;
}

.following_btn{
    margin-right:50px;
    float:right;
}

.following_btn button{
    width:110px;
    height:30px;
    border-radius:10px; 
}

.follow_btn:hover{
    border: 1px solid #65318e; /*紫*/
}

/* 通常時はホバー時の文字を非表示にする */
.unfollow_btn_hover{
    display: none;
}

/* ホバー時は通常時の文字を非表示にする */
.unfollow_btn:hover .unfollow_btn_nomal{
    display: none;
}

/* ホバー時に、ホバー時の文字を表示する */
.unfollow_btn:hover .unfollow_btn_hover{
    display: inline;
}
.profile_menues{
    display:flex;
    margin:0 auto;
    height:25px;
}

.profile_menues div{
    width:100%;
    height:100%;
    margin:0 auto;
    text-align:center;
    position:relative;
    border-radius:10px;
}

.profile_menues a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:5px auto;
    text-align:center;
    font-size:15px;
}

.profile_menues div:hover{
    background-color:#dbd0e6; /*薄紫*/
}
