#overlay_profile{
  /*　要素を重ねた時の順番　*/
  z-index:10;

  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#content_profile{
  z-index:11;
  padding: 1em;
  position:relative;
}
.close_btn{
    font-size:40px;
    margin:0 10px;
    position:absolute;
    top:0;
    left:0;
}
.edit_btn{
    border-radius:10px;
    position:absolute;
    top:15px;
    right:15px;
}
.edit_button_phone{
    width:100%;
    text-align:center;
    margin:10px auto;
    float:right;
}
.edit_header{
    margin:0 auto;
    text-align:center;
}
.edit_user_icon{
    font-size:100px;
    display:inline-block;
    width:100px;
    height:100px;
    border-radius:50%;
}
.edit_boxes{
    width:100%;
    height:35px;
    margin:10px 0;
}
.edit_box{
    float:left;
    padding:2px;
}

.introduce{
    width:100%;    
}

.edit_box p{
    margin:0px;
}

.introduce textarea{
    width:100%;    
}

.edit_icon input, .edit_name input, .edit_tool select{
    width:100%;
    height:100%;
}

.edit_icon label {
    width:100%;
    padding: 5px 20px;
    margin:0;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
/*1170px以上(パソコン用)*/
@media(min-width:1170px){
    .modal_content{
        width:55%;
    }
    .edit_icon, .edit_tool{
        width:30%;
    }
    .edit_name{
        width:40%;
    }
    .edit_button{
        display:inline;
    }
    .edit_button_phone{
        display:none;
    }
}
/*1170px以下(パソコン用)*/
@media(max-width:1170px){
    .modal_content{
        width:60%;
    }
    .edit_icon, .edit_tool{
        width:30%;
    }
    .edit_name{
        width:40%;
    }
    .edit_button{
        display:inline;
    }
    .edit_button_phone{
        display:none;
    }
}
/*960px以下(タブレット用)*/
@media(max-width:960px){
    .modal_content{
        width:70%;
    }
    .edit_name{
        width:100%;
    }
    .edit_tool, .edit_icon{
        width:50%;
    }
    .edit_button{
        display:inline;
    }
    .edit_button_phone{
        display:none;
    }
}
/*520px以下(スマホ用)*/
@media(max-width:520px){
    .modal_content{
        width:100%;
        height:100%;
    }
    .edit_icon, .edit_tool, .edit_name{
        width:100%;
    }
    .edit_button{
        display:none;
    }
    .edit_button_phone{
        display:inline;
    }
}