/*1170px以上(パソコン用)*/
@media(min-width:1170px){
    .menues_container {
        width:25%;
    }
    
    .main_container{
        width:50%;
        margin-left:25%;
        margin-right:25%;
    }
    
    .right_container{
        width:25%;
    }
    
    .menue_text{
        display:inline;
    }
    .miniJugglink_l{
        display:none;
    }
    
    .comment_modal_btn{
        display:inline;
    }
    
    .comment_nomal_btn{
        display:none;
    }
    
    #overlay_menue{
        height:0%;
    }
    
    #content_menue {
        width:25%;
    }
}
/*1170px以下(パソコン用)*/
@media(max-width:1170px){
    .menues_container {
        width:30%;
    }
    
    .main_container{
        width:70%;
        margin-left:30%;
    }
    
    .right_container{
        width:0%;
        display:none;
    }
    
    .menue_text{
        display:inline;
    }
    .miniJugglink_l{
        display:none;
    }
    
    #overlay_menue{
        height:0%;
    }
    #content_menue {
        width:30%;
    }
}
/*960px以下(タブレット用)*/
@media(max-width:960px){
    .menues_container {
        width:20%;
    }
    
    .main_container{
        width:80%;
        margin-left:20%;
    }
    
    .menue_text{
        display:none;
    }
    
    .miniJugglink_l{
        display:inline;
    }
    
    #overlay_menue{
        height:0%;
    }
    #content_menue {
        width:20%;
    }
}
/*520px以下(スマホ用)*/
@media(max-width:520px){
    .menues_container {
        display:none;
    }
    
    .main_container{
        width:100%;
        margin-left:0%;
    }
    
    .display_title{
        display:none;
    }
    
    .menue_text{
        display:inline;
    }
    
    .miniJugglink_l{
        display:none;
    }
    
    #overlay_menue{
        height:100%;
    }
    #content_menue {
        top:0;
        width:70%;
        background-color:#e7e7eb;/*白*/
        border: 1px solid #65318e; /*紫*/
    }
    .mene_close_button{
        display:inline;
    }
}