* {
  box-sizing:border-box;
}

.body_container{
    display:flex;
    width:100%;
    height:100%;
    justify-content:left;
}

.navbar{
    width:100%;
    height:50px;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:0px; /* 上下の固定位置を上から0pxにする */
    left:0px; /* 左右の固定位置を左から0pxにする */
    display:flex; /* 中の要素を横並びにする */
    align-items:center; /* 中の要素を上下中央に並べる */
}

.menues_container{
    background-color:#eaa47e;
    height:100%;
    box-sizing:border-box; /* padding分を含んで幅を100%にするため */
    position:fixed; /* ウィンドウを基準に画面に固定 */
    top:50px; /* 上下の固定位置を上から0pxにする */
    left:0px; /* 左右の固定位置を左から0pxにする */
}

.posts_container{
    background-color:#ede98e;
    margin-top:25px;/* headerに被らないようにする */
}

.right_container{
    background-color:gray;
}

.display_menue{
        display:none;
}

.menue{
    font-size:20px;
    text-align:center;
    margin:20px 0px;
}



.post_container{
    padding:16px;
}

.user{
    display:flex;
    width:50px;
    height:50px;
}

.user_icon{
    width:48px;
    height:48px;
    padding:2px;
    display:inline-block;
}

.user_name{
    font-size:20px;
    margin:auto 0;
    display:inline-block;
}

video{
    width:100%;
    height:auto;
}

.post_title{
    display:flex;
    padding:auto;
    margin:auto;
}

.post_reaction{
    display:flex;
    margin:auto 0;
}

.like_container{
    display:flex;
}

.comment{
    margin:auto 0;
}

.bookmark{
    margin:auto 0;
}

.delete{
    margin:auto 0;
}

@media(min-width:1170px){
    .menues_container {
        width:25%;
    }
    
    .posts_container{
        width:50%;
        margin-left:25%;
    }
    
    .right_container{
        width:25%;
    }
    
    .menue_text{
        display:inline;
    }
}

@media(max-width:1170px){
    .menues_container {
        width:30%;
    }
    
    .posts_container{
        width:70%;
        margin-left:30%;
    }
    
    .menue_text{
        display:inline;
    }
}

@media(max-width:960px){
    .menues_container {
        width:15%;
    }
    
    .posts_container{
        width:85%;
        margin-left:15%;
    }
    
    .menue_text{
        display:none;
    }
}

@media(max-width:520px){
    .menues_container {
        display:none;
    }
    
    .posts_container{
        width:100%;
        margin-left:0%;
    }
    
    .display_menue{
        display:inline;
    }
}
